@charset "UTF-8";

@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/font/Avenir-Light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/font/Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Medium';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/font/Avenir-Medium.woff') format('woff');
}

body {
  color: #6C757D;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
  margin-right: 20px;

  &:hover {
    color: #BD5438;
  }
}

p {
  margin: 13px 0;
}

strong {
  color: #BD5438;
}

.orange {
  background: #BD5438;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.bar {
  width: 50px;
  height: 3px;
}

.text-orange {
  color: #BD5438;
}

.text-light {
  font-family: "Avenir Light", Arial, sans-serif
}

.text-medium {
  font-family: "Avenir Medium", Arial, sans-serif;
}

.text-heavy {
  font-family: "Avenir Heavy", Arial, sans-serif
}

.text-27 {
  font-size: 27px;
}

.text-25 {
  font-size: 25px;
}

.text-23 {
  font-size: 23px;
}

.text-21 {
  font-size: 21px;
}

.text-17 {
  font-size: 17px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.mobile-menu {
  display: none;
}

.content {
  padding: 0 60px 300px;
  position: relative;

  .header {
    height: 150px;
    width: calc(100% - 60px);
    background: white;
    position: fixed;
    top: 0;
    z-index: 99;

    .navbar {
      align-items: center;
      justify-content: flex-end;
      display: flex;
      background: white;
      height: 150px;
      margin-right: 60px;

      a {
        margin-right: 0;
        margin-left: 20px;
      }
    }

    .text-block {
      display: flex;
      justify-content: center;

      span {
        margin-left: 5px;
      }
    }
  }

  .introduction {
    .profile-block {
      position: fixed;
      top: 200px;
      text-align: center;
      box-shadow: 0 3px 7px #00000014;
      height: fit-content;

      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #eda77338;
        padding: 40px 10px;

        .name {
          margin: 0 0 5px 0;
          font-weight: bold;
        }

        img {
          width: 150px;
          border-radius: 100%;
          margin-bottom: 20px;
        }

        .job-title {
          letter-spacing: 0.15em;
          width: 300px;
          margin: 5px 0 0 0;
          text-align: center;
          line-height: 1.4;
        }

        .bar {
          margin: 20px auto;
        }
      }

      .social-links {
        padding: 15px 10px;

        a {
          color: black;
          margin: 0 10px
        }
      }
    }

    .main-content {
      margin-top: 200px;
      vertical-align: middle;
      padding: 0 60px 0 360px;
      width: calc(100% - 360px);

      .inner-text-icon {
        height: 14px;
        margin-right: 4px;
      }

      a {
        color: #BD5438;
        margin-right: 5px;
      }

      .self-introduction {
        padding: 115px 0;

        p {
          text-align: justify;
        }
      }

      hr {
        border: none;
        height: 0.5px;
        margin: 2px;
        background: repeating-linear-gradient(
                        to right,
                        #6c757d4d 0,
                        #6c757d4d 10px,
                        transparent 10px,
                        transparent 15px
        );
      }
    }
  }

  .title {
    margin-top: 40px;
    text-transform: uppercase;
  }

  .selected-publications {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .publication-year {
    margin-top: 10px;
  }

  .publication-block {
    padding: 10px 0;
    display: flex;
    align-items: center;

    .mark {
      color: white;
      background: #198754;
      border-radius: 10px 0 10px 0;
      padding: 7px 10px;

    }

    .left {
      display: flex;
      align-items: center;
      padding: 10px;

      .teaser {
        img {
          height: 150px;
          width: 200px;
          object-fit: contain;
          margin: auto 0;
        }
      }
    }

    .right {
      padding: 0 0 0 60px !important;

      .abstract {
        text-align: justify;
        width: unset;
      }

      a {
        color: #BD5438;
      }

      .publication-icons {
        display: flex;
        align-items: center;

        img {
          height: 30px;
        }

        .study-icons {
          img {
            width: 20px;
            height: 20px;
          }
        }

        .popup-icon {
          img {
            width: auto;
            height: 15px;
            cursor: pointer;
          }
        }
      }

      .text-17 {
        margin: 5px 0 !important;
      }

      .title {
        margin-top: 13px !important;
        margin-bottom: 5px;
      }

      .study-title {
        margin-left: 5px;
        margin-right: 10px;
      }
    }
  }
}

.arrow {
  display: none;
  z-index: 9;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px 0;
  z-index: 9;

  .copyright {
    display: flex;
    justify-content: center;

    p {
      margin-right: 40px;
    }
  }
}

.publication-page, .news-page, .experiences-page, .education-page, .resume-page, .activities-page {
  .publications, .news, .experiences, .education, .resume, .email, .activities {
    .title {
      margin-top: 0;

      p {
        margin: 0;
      }
    }
  }

  .news, .experiences, .education, .awards, .publications {
    z-index: 1;
    position: relative;

    .title {
      margin-bottom: 50px;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .resume {
    margin-top: 40px
  }

  .news-block, .experience-block, .education-block {
    margin-bottom: 30px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
    }

    .type, .time, .place {
      margin: 3px 0;
    }

    .logos {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      width: 128px;

      img {
        max-width: 100px;
        margin-bottom: 5px;
      }
    }
  }

  .experience-block, .education-block {
    .text {
      width: 80%;
    }
  }

  .award {
    margin-bottom: 10px;
    position: relative;

    span {
      margin-left: 10px;
    }
  }

  .activities-block {
    li {
      margin-bottom: 10px;

      p {
        margin-bottom: 5px;
        margin-top: 0;
      }
    }

    a {
      margin-right: 0 !important;
    }
  }

  .activities-photos {
    img {
      width: 25%;
    }
  }
}

.popup {
  position: fixed;
  background: white;
  box-shadow: 0 3px 7px #00000014;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 600px;
  padding: 50px;

  .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &:hover {
      color: #bd5438;
    }
  }

  .popup-copy {
    position: absolute;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
    width: 20px;
    display: flex;
    align-items: center;

    &:hover {
      color: #bd5438;
    }
  }

  .popup-content {
    white-space: pre-line;
    margin-top: 5px;
    background: #eda77312;
    padding: 10px;
    line-height: 1.5;
    border-left: 4px solid #BD5438;
    word-break: break-all;
  }
}

@media (max-width: 1024px) {

  .text-27 {
    font-size: 27px;
  }

  .text-25 {
    font-size: 23px;
  }

  .text-23 {
    font-size: 19px;
  }

  .text-21 {
    font-size: 16px;
  }

  .text-17 {
    font-size: 14px;
  }

  .text-14 {
    font-size: 12px;
  }

  .text-12 {
    font-size: 10px;
  }

  body {
    .mobile-menu {
      display: flex;
      position: fixed;
      top: 15px;
      right: 5px;
      color: white;
      z-index: 100;
      font-size: 20px;
      height: 20px;
      width: 20px;
      align-items: center;
      justify-content: center;
    }

    .text-25 {
      font-size: 20px;
    }

    .content {
      padding: 0;

      .header {
        right: 0;
        height: 100vh !important;
        width: 100vw !important;
        display: none;
        align-items: center;
        justify-content: center;
        background: white;

        .navbar {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 0 !important;
          height: 100% !important;
          width: 100% !important;
          background: #d2431e8f;
          color: white;

          span {
            margin: 30px;
          }
        }
      }

      .introduction {
        .profile-block {
          width: 100%;
          box-shadow: none;
          top: 0;
          background: white;
          z-index: 9;

          .top {
            flex-direction: row;
            justify-content: space-around;

            .job-title {
              width: 200px;
            }
          }

          .img-profile {
            width: 120px;
          }
        }

        .main-content {
          z-index: 1;
          padding: 300px 20px;
          margin-top: 0 !important;
          width: calc(100% - 40px);

          .self-introduction {
            padding: 0 !important;
          }

          .view-more {
            display: none;
          }
        }
      }

      .publication-block {
        display: block;

        .left {
          justify-content: center;
        }

        .right {
          padding-left: 0 !important;

          .publication-icons {
            flex-wrap: wrap;
          }

        }
      }
    }

    .arrow {
      display: flex !important;
      position: fixed;
      bottom: 100px;
      right: 10px;
      background-color: #BD5438;
      color: white;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .logos {
      width: 80px !important;
      padding: 0 10px;
    }

    .text {
      padding-right: 20px;
    }

    .experience-block, .news-block, .education-block {
      .top {
        display: block !important;
      }
    }

    .copyright {
      display: flex;
      justify-content: center;

      p {
        margin: 10px
      }
    }

    .popup {
      width: 70vw !important;
      z-index: 999;
      padding: 30px;

      .popup-copy {
        bottom: 8px !important;
        right: 35px !important;
      }
    }
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation: fadeInFromBottom 1s ease-out;
}
